.header{
    display: inline-block;
    background-color: #EB2929;
    height: 53px;
    width: 100%;
    border-radius: 5px;
}
.button{
    background-color: #EB2929;
    color: white;
    height: 35px;
    width: 135px;
    font-size: 14px;
    border: 1px solid #FFFFFF;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: rgb(123, 0, 0);
    color: white;
}
.login{
    position: absolute;
    margin-left: 72%;
    vertical-align: top;
    margin-top: -40px;
}
.create-account{
    position: absolute;
    margin-left: 82%;
    vertical-align: top;
    margin-top: -40px;
}
.logo{
    font-size: 40px;
    color: #EB2929;
    text-align: center;
    height: 45px;
    width: 45px;
    background-color: #FFFFFF;
    border-radius: 61%;
    margin-left: 4%;
    margin-top: 3px;
}
.Breakfast{
    font-size: 30px;
    color: #192F60;
    font-weight: bold;
    padding: 10px;
    margin-top: 12px;
    margin-left: 7%;
}
.side-bar{
    float: left;
    background-color: #FFFFFF;
    height: 100%;
    width: auto;
    margin-top: 5%;
    margin-left: 10%;
    padding: 25px;
    box-shadow: 0px 3px 6px #00000029;  
}
.Filters{
    font-size: 18px;
    font-weight: bold;
    color: #192F60;
    padding: 2px;
    padding-top: 2px;

}
.dubai{
    padding: 10px;
}
.checkbox{
    width: 175px;
    height: 30px;
    font-size: 14px;
    color: #8C96AB;
}
.usastyle{
    font-size: 14px;
    color: #8C96AB;
    padding-left: 22px;
    padding-bottom: 20px;
}
.Briyani1{
    float: left;
    background-color: #FFFFFF;
    vertical-align: top;
    margin: 30px;
    padding: 5px;
    width: 60%;
    box-shadow: 0px 3px 6px #00000029;
}
.image{
    display: inline-block;
}
.Briyani-heading{
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
    color: #192F60;
    margin-left: 140px;
    margin-top: -70px;
    vertical-align: top;
}
.Fort{
    font-size: 16px;
    font-weight: bold;
    color: #192F60;
    margin-left: 140px;
    margin-top: -52px;
    vertical-align: top;
}
.adress{
    font-size: 16px;
    color: #636F88;
    margin-left: 140px;
    margin-top: -18px;
    vertical-align: top;
}
.cuisines{
    font-size: 16px;
    color: #636F88;
    margin-left: 10px;
    margin-top: 20px;
    vertical-align: top;
}
.cost{
    font-size: 16px;
    color: #636F88;
    margin-left: 10px;
    margin-top: -10px;
    vertical-align: top;
}
.restaurent{
    font-size: 16px;
    color: #192F60;
    margin-left: 155px;
    margin-top: -63px;
    vertical-align: top;
}
.price{
    font-size: 16px;
    margin-left: 155px;
    margin-top: -11px;
    vertical-align: top;
}
.line{
    border-bottom: 1px solid #636F88;
    width: auto;
}
.nextpage{
    display: inline-flex;
    margin-top: 5%;
    margin-left: 25%;
}
.buttons2{
    padding-right: 10%;
}
.result-part{
    margin-left: 25%;
    padding: 2%;
    margin-top: 2%;

}
